.chips {
    display: flex;
  }
  
  .chips button {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='white' stroke-width='13' stroke-dasharray='9' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 100px;
  height: 100px;
  width: 100px;
  box-shadow: 0 0 20px rgb(0 0 0 / 50%);
  justify-content: center;
  padding: 0;
  }
  
  button.top-chip {
    margin-bottom: 15%;
  }
  
  button.five {
    background-color: #ba2b2bfc;
  }
  
  button.ten {
    background-color: #3026ABFC;
  }
  
  button.twenty {
    background-color: #1cac21fc;
  }
  
  button.fifty {
    background-color: #e3db00fc;
  }
  
  button.hundred {
    background-color: #7b02b0fc;
  }
  
  button.five-hundred {
    background-color: #00bdbafc;
  }
  