.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: url(./components/img/green-table.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.top {
  display: flex;
  justify-content: center;
}

.top button {
  padding-left: 3em;
  padding-right: 3em;
}

.row {
  display: flex;
  flex-direction: column;
  padding-right: 5%;
}

.chips button {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='white' stroke-width='13' stroke-dasharray='9' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
border-radius: 100px;
height: 100px;
width: 100px;
box-shadow: 0 0 20px rgb(0 0 0 / 50%);
justify-content: center;
padding: 0;
}

button.top-chip {
  margin-bottom: 15%;
}

button.five {
  background-color: #ba2b2bfc;
}

button.ten {
  background-color: #3026ABFC;
}

button.twenty {
  background-color: #1cac21fc;
}

button.fifty {
  background-color: #e3db00fc;
}

button.hundred {
  background-color: #7b02b0fc;
}

button.five-hundred {
  background-color: #00bdbafc;
}

.end-game {
  background-color: red;
}

.title {
  display: flex;
    color: yellow;
    font-size: 2.5em;
    margin-bottom: 0.5em;
    margin-top: -1.5em;
    font-weight: 900;
    padding-left: 45%;
    padding-right: 45%;
}

.score {
  display: flex;
    justify-content: center;
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    width: 23%;
    position: relative;
    z-index: 2;
    margin-top: -4%;
}

.wins {
  padding-right: 0%;
    border-right: 3px solid white;
}

.w {
  border-bottom: 3px solid white;
    width: 5em;
}

.losses {
  padding-right: 0%;
  border-right: 3px solid white;
}

.l {
  border-bottom: 3px solid white;
    width: 5em;
}

.d {
  border-bottom: 3px solid white;
    width: 5em;
}

.card-totals {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 1.5em;
  font-weight: 600;
}

.user-info {
  display: flex;
  padding-right: 20em;
}

.dealer-info {
  display: flex;
}

.Suite-Icons {
  opacity: 20%;
    height: 12em;
}

.game-buttons {
  margin-bottom: 5%;
}



button {
  border-radius: 40px;
    width: 9em;
    height: 4em;
    border: none;
    font-family: 'Source Code Pro', monospace;
    font-size: .7em;
}

.deal {
  background-color: darkorange;
}
.hit {
  background-color: lime;
}
.stand {
  background-color: red;
}
.double-down {
  background-color: yellow;
}
.split {
  background-color: dodgerblue;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
